@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');



body {
    
    font-family: "Quicksand";
    background-image: url(./assets/me+trybe.jpg);
    background-repeat: no-repeat;
    background-size: contain;
   

}






/* ------------------------------------------------------------------------------------ Style Assets ---------------------------------------------------------------------------*/

.imggit, .imghtml, .imgcss, .imgjs, .imgagil, .git, .html, .css, .js, .metoAgil{
    display: inline-block;
}

.imggit, .imghtml, .imgcss, .imgjs, .imgagil{
    width: 25px;
}

/* --------------------------------------------------------------------------------------Styles Links ---------------------------------------------------------------------------------- */

.links {
    display: inline-block;

}

.media2 {
    width: 50px;
}
