@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');


body {
    
    background-image: url(./assets/trybebanner.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    border-radius: 10px;
    padding: 0;
    margin: 0;
    font-family: Quicksand;
}

#minhaImagem {
    background-image: url(./assets/mefoto.jpg);
    background-repeat: no-repeat;
    display: inline-block;
    position: absolute;
    width: 200px;
    border: 4px solid #84f009;
    color:#84f009;
    box-shadow: 0px 0px 35px  #84f009 , 0px 0px 15px #255957 inset;
    border-radius: 15px;
    margin-left: 10px;
}


h1 , h2{
    font-size: 40px;
    line-height: 10px;
    color: rgb(105, 105, 105);
    text-shadow: -1px 0 rgb(163, 163, 163);
}

p {
    font-size: 15px;
    color: #84f009;
    font-weight: 800;
   
}

.meuNome , .resido{
    display: flex;
    padding:20px;
    margin-left: 210px;
    line-height: 20%;
    margin-bottom:6px;
   
}

.sobre {
    display: flex;
    padding: 10px;
    margin-top: 10%;
    line-height: 20%;
}

.sobreMim {
    display: flex;
    padding-bottom: 15px;
    margin-left: 10px;
}


#container {
    margin-top: 27%;
    margin-left: 10px;
}



/* ------------------------------------------------------------------------------------ Style Assets ---------------------------------------------------------------------------*/
.Caixa {
    
    width: 480px;
    height: 230px;
    border: 2px solid #329F5B;
    background-color: #255957;
    border-radius: 10px;
    padding: 20px 15px;
    margin-left: 10px;
    padding-bottom: 50px;
    margin-bottom: 5px;
    
}

.imggit, .imghtml, .imgcss, .imgjs, .imgagil, .git, .html, .css, .js, .metoAgil {
   
    display: inline-block;
    font-size: 20px;
    font-weight: 800;
    color: #329F5B;

}

.imggit, .imghtml, .imgcss, .imgjs, .imgagil{
    width: 25px;
}

/* --------------------------------------------------------------------------------------Styles Links ---------------------------------------------------------------------------------- */

.links {
    display: inline-block;
    padding: 10px;

}

.media1 , .media2 {
    width: 50px;
    position: relative;
    transition-duration: 2s;
    /* animation: go-back 1s infinite alternate; */
}

.media1:hover, .media2:hover{
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
}

/* @keyframes go-back {
    0% {
        transform: translateX(100px);
    }
    100% {
        transform: translateX(0);
    }
} */


